

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
	background-image: url('../img/blue-bg.jpg');
	background-size: cover;
}

.list-item-padded {
	padding: 5px;
}










